<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Lambdalog - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="alternate"
              type="application/rss+xml"
              title="Lambdalog"
              href="/rss.xml" />
    </head>
    <body>
      <div id="contain">
        <div id="content">
          <h1 class="blog-title">
            <a href="/">Lambdalog</a>
          </h1>
          <h2 class="blog-subtitle">Sean Seefried's programming blog</h2>
          <ul id="meta">
            <li id="rss">
              <a href="/rss.xml">RSS</a>
            </li>
            /
            <li id="archive">
             <a href="/posts.html">Archive</a>
            <li>
          </ul>
          <!-- <div id="navigation">
              <a href="/">Home</a>
              <a href="/posts.html">All posts</a>
          </div> -->
          $body$
        </div><!-- id="content" -->
      </div><!-- id="contain" -->

<script type="text/javascript">
   var disqus_shortname = 'lambdalog'; // required: replace example with your forum shortname

   (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
      </body>
</html>
