<div class="post">
  <div class="date">
     <span class="day">$day$</span>
     <span class="month">$month$</span>
     <span class="month">$year$</span>
  </div><!-- class="date" -->
  <div class="regular">
    <h1><a href="$url$">$title$</a></h1>
    $body$
    <p>Tagged as: $prettytags$.</p>
    <div class="post-footer">
      <a href="$url$#disqus_thread" class="permalink">See comments</a>
      <a href="$url$" class="permalink">Permalink ∞</a>
    </div><!-- class="post-footer" -->
  </div><!-- class="regular" -->
</div><!-- class="post" -->