<div class="post">
  <div class="date">
     <span class="day">$day$</span>
     <span class="month">$month$</span>
     <span class="month">$year$</span>
  </div><!-- class="date" -->
  <div class="regular">
    <h3><a href="$url$">$title$</a></h3>
    $renderedPost$
  <p>Tagged as: $prettytags$.</p>
  <div class="post-footer"> 
    <a href="$url$#disqus_thread" class="permalink">Comments</a>
    <a href="$url$" class="permalink">Permalink ∞</a>
  </div>
  </div><!-- class="regular" -->
</div><!-- class="post" -->