<div class="post">
  <div class="date">
     <span class="day">$day$</span>
     <span class="month">$month$</span>
     <span class="month">$year$</span>
  </div><!-- class="date" -->
  <div class="regular">
    <h3>$title$</h3>
    $body$
  <p>Tagged as: $prettytags$.</p>
  </div><!-- class="regular" -->
</div><!-- class="post" -->

<div id="disqus_thread"></div>
<script type="text/javascript">
   var disqus_shortname = 'lambdalog'; 

    var disqus_identifier = '$disqusId$';
    var disqus_url = 'http://lambdalog.seanseefried.com$url$';

   (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>